.imagen1{
    height: 344px;
    width: 559px;
}
.imagen2{
    height: 349px;
    width: 520x;
}
.imagen3{
    height: 379px;
     width: 570px;
}
.imagen4{
    height: 360px;
    width: 530px;
}
.listaNormal{
    padding-left: 9%;
    padding-right: 9% ;
    font-size: 18px;
    .lista1{
        background-color: #4f4f4f;
    }
        .redsocial{
            text-decoration: none;
            color: #e7e3e4;
           
        }
}
